<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List open source tools used in data science
- List a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. SQL
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Keras
3. Matplotlib

| Data Science Tools |
| --- |
| RStudio |
| Apache Hadoop |
| TensorFlow |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>

Hayden Chan